set es_enableCustomData 1 
set mysql_connection_string "server=136.243.238.222;database=s477_Simplerp;userid=u477_32zr03kV1z;password=y7iE5tm!^rawpx6qrd3v+V!3"

set one_sync enabled 1

sv_useDirectListing true
set sv_listingIPOverride "95.217.119.73"

#### vMenu

exec resources/vMenu/config/permissions.cfg
start vMenu

# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces

# These resources will start by default.

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
#start scoreboard
start npcs-master


#-----BANNIERE----#
sets banner_detail "https://cdn.discordapp.com/attachments/332425144196923393/717480275377913866/Banniere_Twitter_SimpleRP.jpg"
sets banner_connecting "https://cdn.discordapp.com/attachments/332425144196923393/717480275377913866/Banniere_Twitter_SimpleRP.jpg"
sets Discord "🔊 https://discord.gg/SdCYGUy 🔊"
sets Développeur "💻 Memel/Timax 💻"
sets tags "Simplerp, Simple, RP, Whitelist, simplerp,  64 slots, Free-Access, 5 drogues, Double Jobs, Sérious RP, Vehicule Import, Économie Réaliste, Telephone, Carte Sim, Gang/orga, Metier WL/Non WL Staff Actif, Mapping in�dit, Script in�dit, simple, armes modd�s , vehicule police , sheriff , cardealer "

sets Etat "Ouvert"
sets locale "fr-FR"
#set mysql_slow_query_warning 50

add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.sets allow

#########################################
###############ESSANTIAL#################
#########################################

start mysql-async
start essentialmode
start async
start esplugin_mysql
start esplugin_mysql
start es_admin2
start es_extended
start cron
start instance
start vente_darme_illegal_Maker
start el_bwh


#----Liste des Joueurs----#

#start esx_scoreboard

start replyandreport-esx #Système du report au admin avec réponse

#########################################
#################ESXBASE#################
#########################################

start esx_mask
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start NativeUILua_Reloaded #Dépendance du menu F5
start NativeUI
start Maker_menu #Menu F5
start es_mapper

##########################################
#################WEAPONS##################
##########################################

start arme

#----IPL FIVEM----#

start bob74_ipl

#----DEPENDANCE----#

start esx_addonaccount #Argent Société
start esx_addoninventory #Coffre inventaire société
start esx_datastore #Coffre
start esx_society #Argent société + controle société
start esx_billing #Facture

#----Non-Esx----#

#start stungun
start connectqueue #FILE D'ATTENTE
start esx_whitelist #Whitelist
start shield
start pNotify #Système de notification
start pvp #Active le PvP entre joueurs
start scriptpnj #Gère la densité des PNJ
start CalmAI #Les IA sont calme
start gd_airport_ai_begone #Supprime les avions de la map
start ProtectPnj #DisableDispatch / removeAIcops / novehicleweapon / nodroppnj / deletearmevehicule & more
#start Mike-announce #Annonce discord dans le tchat
start vdk_call #Addon Police, Ambulance et Mécano du GCPHONE
start gcphone #Téléphone
start esx_addons_gcphone #Addon du téléphone
# start NoLicense # affichage license permis
start knockout #Tombé KO Technique
start pausemenu-title #Titre du menu ECHAP
start eden_jail #Tenue Prisonnier devant les cellules
start suptime #Uptime serveur
start progressBars #Barre chargement lors de réanimation/réparation etc
start 3dme #Me en 3D
start heli
#start Radargun #Pistolet Radar (Vintage Pistol)
start vir-deathscreen #Animation Mort Pulsation
start TakeHostage
start dzwon
start dpemotes
start HideInTrunk

#----Esx----#
start esx-qalle-jail #Prison
start esx_teleports
start esx_ktackle #Plaqué quelqu'un au sol (Policier Only)
start esx_rpchat
start esx_license #Licence pour les joueurs
start esx_identity
#start esx_jb_radars
start esx_vehiclelock
start esx_carthief
start esx_sirencontroles
start tpgouv
start esx_vangelico_robbery
start jNativeUI_mask
#start esx_TruckRobbery
#start gln_napadammunation
#start esx_hifi
#start powx_apple 
start esx_sit 
start esx_tacos
start phxlsmc
start esx_map
#-----Tenues-----#

start skinchanger #Changer sont skin
start esx_skin #Skin au spawn
start esx_accessories #Accessoires vêtements

#-----Besoins-----#

start esx_basicneeds #Status Faim et Soif
start esx_optionalneeds #Status Bourré
start esx_status
start ft_libs
start radio #Radio Voiture
start esx_entitysync #Synchonise les entités

#-----Magasins-----#

start esx_vehicleshop #Job Vente de véhicule
start esx_property #Maison + Appartement
start esx_utils #Chargeur Armes + Jumelle + Caméra Helico
start esx_dmvschool #AutoEcole
start NativeUI_shops #Superette
start esx_lscustom #Vente Custom Véhicule
start esx_eden_clotheshop #Magasin de vêtements
start NativeUI_barber #Boutique de Cheveux
start esx_prw_tatooshop #Boutique de Tatouage
# start esx_quincaillerie #Vente Skin et accessoires Armes
start alerte-fivem
start esx_weaponshop

#-----Jobs-----#

start esx_joblisting #Prise du Job Pôle Emploi + Blips
start esx_jk_jobs #Prise du Job Pôle Emploi
start esx_avocatjob #Job Avocat
start esx_policejob #Job Policier
start esx_unicornjob #Job Unicorn
start esx_bahamajob #Job Bahama
start esx_realestateagentjob #Job Agent Immobilier
start esx_duty #Prise/Quitté le service EMS et Police
#start esx_journaliste
start WeazelNewsCam
start esx_illegal #Jobs Armes Illégal
start NoReticle
start esx_fbijob
start esx_sheriffjob
start esx_gouvjob

#-----Vêtements------#

start EUP
 
#-----Jobs Farms-----#

start esx_jobs #Job Pôle Emploi 
start esx_ambulancejob #Job Ambulancier + Farm Métier
#start ambulance-mission
start esx_mechanicjob #Job Mécano
start esx_vigneronjob #Job Vignerons
start esx_taxijob
start esx_drugs #LA DROGUE !
start esx_fauxbillets
start dix-oblivionpill
start esx_pharmacy
start esx_holdupbank
start esx_holdup
# start MF_DrugSales #Vente de drogue Coordonnée Dealer -1152.0,-1447.54,4.71, 36.74
start DopePlant #Pousse de Drogue

#-----Gang Job2-----#
 
start esx_ballas #Gang Ballas
#start esx_podolskaia #Mafia
start esx_syndicat #famillies
start esx_vagos #vagos
start esx_ms13 #ms13

#----BRAQUAGE PACIFIC STANDARD----#

start MF_LockPicking
start MF_SafeCracker
start mhacking
start MF_Fleeca #Braquage Petite Banque

#-----Voiture-----#
start simpledrift
start uparmorhmvdes
start esx_carshowroom #Showroom Véhicule
start esx_eden_garage #Garage Voiture
start esx_trunk #Inventaire Véhicule
start jNativeUI_location #Location de véhicule au spawn du serveur
start esx_RealisticVehicleFailure #Problème moteur et autre après accident
start esx_legacyfuel
start c63s
start esx-kr-vehicle-push
start seatbelt
start speedometer #Compteur de vitesse + Essence
start RealisticAirControl
start esx_vehiclelock #Clé voiture
start Car_Doors
start lux_vehcontrol #Controle des sirènes des voitures
nsure bnsgtr99
start btsupra94
start vote

#-----Mapping-----#
start lafa2k_modernhouse
start vagosint
start Maker_nw_bahamaMama #Porte Bahama
start Maker_coloredhud #HUD Coloré Blips Armes Radio
start Maker_Famillies-Interior
start Maker_comicosandy
start Maker_tabac
start Maker_ballasint
#start Maker_breze_bennys
start Maker_MeetingPointV
start Maker_hospitalint
start Maker_banner_anim
#start Maker_lafa2k_finalfantasyxv
start Maker_texasflagspack
start Maker_map_fixe
start Maker_mecanosud
start Maker_zancuro
start Maker_biker
start Maker_mlo_taxi
start Maker_MissionRow
start blackmarket_arme
start blackmarketoutils
#start blanchisseur30
start blanchisseur50
start cocainerecolte
start cocainetraitement
start cocainevente
start foret
start rajouterweed
start weedrecolte
start weedtraitement
start weedvente
start Zetroks_policestation
start methrecolte
start methtraitement
start methvente
start opiumrecolte
start opiumtraitement
start opiumvente
start unicornexterieur
#------ambulance------#

start dodgeems
#-----anticheat-----#

#start Godzilla_blacklist
start Godzilla_minianticheat
#start Godzilla_nofire
#start GodzillaAC
start GodzillaAnticheat
#start GodzillaAntiProps
start GodzillaWebHook

#-----Personnage-----#

start new_banking #Interface ATM
start jsfour-idcard #Carte d'Identité
stop police_radio #Animation Armes Police + Animation civil
start gang_action #Animation Armes Gang
start esx_checkdeathcause #Identifié la mort
start DamageWalkMode #Boitte a partir de 60HP
start CarryPeople #Menu Interaction Rapide Option Porter ou "PiggyBack"
#start Radiant_Animations #Animation Menu Interaction Rapide
#start tp_fbi

#-------HUD------#

start esx_customui

#-----Administration-----#

start esx_announce #Annonce Admin
start esx_spectate #Spectate + Voir inventaire

#-----Voitures mod-----#

start DodgeEMS
#start ELS-FiveM

#-----Radio-----#

start rp-radio
start mumble-voip

#-----Police-----#
start fbi2
start sheriffmav
start sheriffcar
start police3
start policeb 
start riot
start ghispo2
start esx_alertepolice
start esx_doorlock
start esx_celldoors
start esx_PoliceArmory
start esx_policedog
start esx_PoliceGarage
start esx_policemdt
start fn_illegals
start jsfour-criminalrecord
start qalle_policearmory
start st-cctv
start flashlandpack
start Captain14_LSPD
#start gabz_imp_garage
start esx_outlawalert
#-----IMPORTS----# 



start rs3 


start 911turbos

start police3
start police2
start fbi2
start hevo
start sheriffmav
start sheriffcar
start police3
start policeb 
start riot
start bmpos8
start buffalo
start ghispo2
start valkyrie
start police
start police5
start XGame-Loading-Screen

start esx_blanchisseur
start vente_darme_illegal_Maker2 #vente outil
#-----Discord----#

start RichPresence_Maker
start esx_discord_bot

sv_scriptHookAllowed 0

# change this
#


#sets Adresse "" 

set 

# nested configs!
#exec server_internal.cfg

# loading a server icon 
load_server_icon logo.png

# convars for use from script
#set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin command.eup
add_principal identifier.steam:11000013c29bec5 group.admin # add the admin to the group

add_ace resource.essentialmode command.add_principal allow
add_ace resource.suptime command.sets allow
add_ace resource.uptime command.sets allow

add_ace resource.reboot command.restart allow
add_ace resource.reboot command.start allow
add_ace resource.reboot command.stop allow

# add system admins
add_ace group.admin fax allow               # allow all commands for FAXES Script admins 
add_ace group.moderator fax allow           # allow all commands for FAXES Script moderators
add_ace group.moderator fax.cmds deny	    # disallow FAXES Script Perms for moderators
add_ace Fax.Admin fax.admin allow

add_ace resource.esx_anticheat command.sets allow

add_principal identifier.steam:11000013c29bec5 Fax.Admin 

add_principal identifier.steam:11000013c29bec5 group.admin


# remove the # to hide player endpoints in external log output
sv_endpointprivacy true


sv_hostname "^4[^7FR^8]^7 SimpleRP ^5V1^7💎 || Nouvelle ^5Ville ^7|| White^2List ✔️ ^7|| Doubles ^5Jobs^7 || ^1Drogues^7 || Mapping ^5Inédit^7 || Scripts ^7Inédits || ^5Disc^7ord : discord.gg/6gfZXwv"
rcon_password "4HVgvWa5X6vlmMvA"
sv_maxclients 64
endpoint_add_tcp "0.0.0.0:27045"
endpoint_add_udp "0.0.0.0:27045"
sv_licenseKey 8y8r8ti5bj2jh5ijttepe12nju8nq1w9
set steam_webApiKey  4EC36CF0BC0D563FEE6004DF1EF8D4F2